.App {
  padding: 20px;
}

.mytest {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table{
  table-layout:fixed;
}
.resultColumns{
  overflow: hidden;
}
.resultColumnsDiv{
  width:92%;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}